.container {
  height: 100vh;
  margin: auto;
  background-color: rgb(227, 235, 235);
  padding-right: 2em;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.result {
  background-color: white;
}
